<!DOCTYPE html>
<html>
  <head>
    <title>Mantenimiento de Alumnos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:rgba(0, 195, 255, 0.884);">
    {{{body}}}
  </body>
</html>
